<!-- <input type="text" [(ngModel)]="name" /> -->
<!-- <h1 [ngStyle] = "name.length %2==0? oddStyle:evenStyle">Your name is {{name}}</h1>

<div [class] = "isHighlight ? 'circle' :'square'"></div>
<button (click) ="changeShape()">Change shape</button> -->
<!-- <button placeholder="English">English</button>
<button placeholder="Tieng viet ">Tieng Viet</button> -->
<!-- <div *ngIf="isToggle">
    <input type="text" placeholder="English" [(ngModel)]="newEn">
    <br>
    <input type="text" placeholder="Tieng Viet" [(ngModel)]="newVn">
</div>

<br>
<button (click)="create()"> Tao moi</button>
<br>
<select [(ngModel)]="filterstatus">
    <option value="All">All</option>
    <option value="Cac_tu_da_nho">Cac tu da nho</option>
    <option value="Cac_tu_da_quen">Cac tu da quen </option>
</select>
<div *ngFor="let u of listDictionary">
    <div class="word" *ngIf="(filterstatus ==='All')||(filterstatus==='Cac_tu_da_nho' && u.memorized) || (filterstatus==='Cac_tu_da_quen' && !u.memorized)">
        <p >{{u.En}}</p>
        <p>{{u.Vn}}</p>
        <button (click)="delete(u.id)">Xoa</button>
        <button (click)="u.memorized = ! u.memorized">Da Thuoc</button>
    </div>

</div>
<h1>Tu vua them {{newEn}} - {{newVn}}</h1> -->
